* {
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}
body {
  width: 100vw;
  height: 90vh;
  background-image: linear-gradient(
      top bottom hsl(225, 100%, 98%),
      hsl(224, 23%, 55%),
      hsl(223, 47%, 23%)
    ),
    url(#target);
}
.Order {
  width: 450px;
  height: 605px;
  margin: auto;
  background-color: rgba(235, 222, 222, 0.719);
  border-radius: 30px;
  font-family: "Red Hat Display", sans-serif;
  position: relative;
  bottom: 439px;
}
.Image {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.heading {
  font-weight: bolder;
  line-height: 50px;
  text-align: center;
}
.para {
  text-align: center;
  width: 350px;
  margin: auto;
  padding-bottom: 10px;
  color: hsl(212, 55%, 41%);
}
.section {
  position: relative;
  background-color: rgb(205, 211, 223);
  width: 300px;
  height: 110px;
  margin: auto;
  border-radius: 20px;
}
.plan {
  position: absolute;
  top: 35px;
  left: 5px;
}
.cost {
  position: absolute;
  left: 70px;
  top: 40px;
  display: inline-block;
}
.change {
  position: absolute;
  left: 230px;
  top: 50px;
  font-size: 15px;
}
.change:hover {
  font-weight: bolder;
  color: hsl(223, 100%, 33%);
}
.payment {
  padding-top: 30px;
}
.first {
  font-weight: bolder;
}
.second {
  color: hsl(225, 31%, 64%);
}
.payment ul li {
  list-style: none;
  height: 60px;
}
.proceed {
  text-decoration: none;
  border-radius: 10px;
  color: hsl(245, 75%, 52%);
  background-color: rgba(245, 245, 245, 0.815);
  padding: 10px 100px;
  transition: all 0.5s;
}
.proceed:hover {
  color: white;
  font-weight: bolder;
  background: hsl(245, 75%, 52%);
}
.cancel {
  text-decoration: none;
  border-radius: 10px;
  color: hsl(245, 75%, 52%);
  padding: 10px 125px;
  background-color: rgba(245, 245, 245, 0.815);
  transition: all 0.5s;
}
.cancel:hover {
  color: white;
  font-weight: bolder;
  background: hsl(245, 75%, 52%);
}
